/* static/style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="file"] {
    margin-right: 10px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
    color: #4caf50;
}


/* static/style.css */

/* ... (existing styles) */

.header {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
}

.header h1 {
    margin: 0;
}

.footer {
    text-align: center;
    /* margin-top: 30px; */
    margin-top: 30px; /* Increase the margin at the top of the footer */
    padding-top: 100px;
}

.small-text {
    font-size: 12px;
    color: #333;
}
